"*":
  core:
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "Menlo, Consolas, DejaVu Sans Mono, monospace,"
  "exception-reporting":
    userId: "b7149589-3155-4168-89f4-bab4a0759798"
